src/main/mule/cust-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8597cd5-173c-4b1d-a59a-3bce4629ed83" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cust-apiFlow" doc:id="63a14677-65fd-4ed3-9b86-c080cd41e47a" >
		<http:listener doc:name="Listener" doc:id="fe44b074-038b-4495-a439-c0a59bfabde1" config-ref="HTTP_Listener_config" path="/custmer"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="5b9befff-f573-4337-aebb-30667ad04133" />
	</flow>
</mule>
